.video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home {
    height: 100%;
    width: 100%;
  }

.name{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ff5400;
    margin-bottom: auto;
    
}

  .hola{
    display:grid;
    grid-template-columns: repeat(4, 8fr);
    align-content: center;
    align-items:center;
    width: 100%;
    margin-top: 20px;
    margin-left: 100px;
  }

  .filtros{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9ada7;
}

  /* background-image: url('./home.jpg'); */